body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header{
  background-color: #00ABB3;
  padding: 1rem;
}

header a{
  color: #fff;
  font-weight: bold;
  text-decoration: none;

}
main{
  padding: 1rem;
}
/*All products selection*/
.products{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Indivdual product selection*/
.product-item{
  border:#404040 solid;
  margin: 1rem;
}
/*Product image selection*/
.product-item img{
  width:100%;
  max-width:400;
}
/*product info selction*/
.product-info{
  padding:1rem;
}